
<%= form_with(model: @service) do |f|%>
  <div class="field">
    <%= f.label :service_description, 'Descripci贸n del Servicio', class: 'label' %>
    <%= f.text_area :service_description, class: 'input', required: true, placeholder: 'Descripci贸n...' %>
  </div>
  <div class="field">
    <%= f.label :service_date, 'Fecha Del Servicio', class: 'label' %>
    <%= f.date_field :service_date, class: 'input', required: true%>
  </div>
  <div class="field">
    <div class="minimessage">
      <em >Si no tienes una Direcci贸n registrada haz click  </em>
      <%= link_to 'Aqui', new_address_path, class:"navbar-item" %>
    </div>
    <%= f.label :address_id,'Direcci贸n', class: 'label' %>
    <%= f.collection_select(:address_id, current_user.client.addresses.all, :id, :address_description, :prompt => 'Seleccionar...') %>
  </div>
  <div class="actions">
    <%= f.submit  id:"formbutton", class: 'button is-primary' %>
  </div>
<% end %>