<div class="container">
  <div class="box">
    <div class="container">
      <% if current_user.admin.present? %>
        <h1 class="tittle">Servicios</h1></br>
      <% else %>
        <h1 class="tittle">Tus Servicios</h1></br>
      <% end %>
      <div class="container">
        <table class="table is-striped">
          <thead>
            <tr>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Fecha</th>
                <th>Estado</th>
                <% if current_user.admin.present? %>
                    <th>Cliente</th>
                    <th> ID del Cliente</th>
                <% end %> 
                <th>Fecha de servicio</th>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |s|%>
              <tr>
                <td><%= s.service_description%></td>
                <td><%= s.address.address_description%></td>
                <td><%= s.service_date%></td>
                <td><%= s.service_status%></td>
                <% if current_user.admin.present? %>
                    <td><%= s.client.user.first_name%></td>
                    <td><%= s.client.id%></td>
                <% end %>  
                <td><%= s.service_date.strftime("%F")%></td>
                <td>
                  <%=link_to "Detalles", service_path(s.id) %>
                </td>
     
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <%= paginate @services %>

