<div class="container">
  <div class="box">
    <div class="container">
      <h1 class="tittle">Tus Servicios</h1></br>
      <div class="container">
        <table class="table is-striped">
          <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Empleado</th>
                <% if current_user.admin.present? %>
                    <th>Cliente</th>
                    <th> ID del Cliente</th>
                <% end %> 
            </tr>
          </thead>
          <tbody>
            <% @services.each do |s|%>
              <tr>
                <td><%= s.service_description%></td>
                <td><%= s.service_date%></td>
                <td><%= s.service_status%></td>
                <td><%= s.employee%></td>
                <% if current_user.admin.present? %>
                    <td><%= s.client%></td>
                    <td><%= s.client.id%></td>
                <% end %>       
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

