  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="box">
      <h1 class="tittle">Edita tus datos</h1></br> 
      <div id="formcolums">
        <div class="column">
          <div class="form">
            

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            
            <div class="field">
              <%= f.label 'Teléfono', class:"label" %>
              <%= f.text_field :phone, autocomplete: "phone", placeholder:"Phone", class:"input" %>
            </div>

            <div class="field">
              <%= f.label "Confirma tu contraseña", class:"label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Contraseña", class:"input" %>
            </div>

            <div class="field">
              <%= f.label "Contraseña actual", class:"label" %> <i>(Necesitamos su contraseña actual para confirmar sus cambios)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Contraseña", class:"input" %>
            </div>

          </div>
        </div>




        <div class="column">
          <div class="form">

            <div class="field">
              <%= f.label :email, class:"label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"input" %>
            </div>

            <div class="field">
              <%= f.label "Contraseña" , class:"label" %> <i>(Déjelo en blanco si no quiere cambiarlo)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Contraseña", class:"input" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> Caracteres mínimos</em>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div id="buttonbox">
        <div class="actions">
          <%= f.submit "Editar", id:"formbutton", class:"button is-primary" %>
        </div>
        <div id="cancelaccount">
          <h3>Deseas cancelar tu cuenta?</h3>
          <p><%= button_to "Cancela mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro de cancelar tu cuenta?" }, method: :delete, class:"button is-danger" %></p>
        </div>
        <%= link_to "Atras", :back %>
      </div>
    </div>
  </div>
<% end %>
