
<%= form_with(model: @address) do |f|%>
  <div class="field">
    <%= f.label :address_description, 'Descripción de la Dirección', class: 'label' %>
    <%= f.text_area :address_description, class: 'input', required: true, placeholder: 'Descripción...' %>
  </div>
  <div class="field">
    <%= f.label :address, 'Dirección', class: 'label' %>
    <%= f.text_field :address, class: 'input', required: true, placeholder: 'Dirección' %>
  </div>
  <div class="field">
    <%= f.label :address_complement, 'Apto, Torre, etc', class: 'label' %>
    <%= f.text_field :address_complement, class: 'input', placeholder: 'Complemento' %>
  </div>
  <div class="field">
    <%= f.label :phone,'Teléfono', class: 'label' %>
    <%= f.number_field :phone, class: 'input', required: true %>
  </div>
  <div class="actions">
    <%= f.submit  id:"formbutton", class: 'button is-primary' %>
  </div>
<% end %>
