<div class="container">
  <div class="box">
    <div class="container">
      <h1 class="tittle">Tus direcciones</h1></br>
      <div class="container">
        <table class="table is-striped">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Dirección</th>
              <th>Complemento</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address|%>
              <tr>
                <td><%= address.address_description%></td>
                <td><%= address.address%></td>
                <td><%= address.address_complement%></td>
                <td><%= address.phone%></td>
                <td>
                  <%= link_to edit_address_path(address.id), class: 'button is-success is-small' do %>
                    <i class="fas fa-indent"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      
      <%= link_to 'Nueva Dirección', new_address_path, class:"button is-primary" %>
    </div>
  </div>
</div>
