<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand"  id="buttons" >
    <a class="navbar-item" href="/"  id="buttons">
      <img class="navlogo" src="https://media.discordapp.net/attachments/816001549146914886/816001670500712478/Hogare-Logo.png">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%=link_to "Inicio", root_path, class:"navbar-item" %>

      <% unless current_user.blank? %>
 
        <%= link_to 'Nuevo servicio', orders_new_path, class:"navbar-item" %>
    
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" id="drop">
              About
            </a>
            <a class="navbar-item" id="drop">
              Jobs
            </a>
            <a class="navbar-item" id="drop">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" id="drop">
              Report an issue
            </a>
          </div>
        </div>
      <% end %>
    </div>

   


    <% unless current_user.blank? %>
      <div class="navbar-end" >
      
      <div class="navbar-item" id="buttons">

        <a class="navbar-item" href="/application/cart" id="buttons">
        <img class="cartbutton" src=" https://media.discordapp.net/attachments/816001549146914886/817175316400570388/Carrito_2.png?width=473&height=473">
        </a>

        <div class="buttons">   
        <%= link_to 'Mi Perfil', application_profile_path, class:"button is-light" %>
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"button is-primary" %>
        </div>
        
      </div>
    </div>

    <% else %>
      <div class="navbar-end">
        <div class="navbar-item" id="buttons">
          <div class="buttons">
            <%= link_to 'Registrate', new_user_registration_path, class:"button is-primary"  %>
            <%= link_to 'Inicia Sesión', new_user_session_path, class:"button is-light" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>